.container {
    width: 100%;
}

.main {
    width: 100%;
}

/* トップ */
.top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-image: url(../img/mv.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.top__text-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top__text-area__title {
    color: white;
    font-size: 40px;
}

/* サービス */
.service {
    padding: 80px;
}
.service__card {
    display: flex;
    padding: 10px;
    border-top: solid 1px black;
}
.service__card:last-child {
    border-bottom: solid 1px black;
}
.service-image {
    width: 400px;
}
@media screen and (max-width: 768px) {
    .service {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .service__card {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .service-image {
        width: 100%;
    }
}
.service__card__text-area {
    padding: 10px;
}
.service-subject {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
}
.service-text {
    font-size: 20px;
}