.container {
    width: 100%;
}

.main {
    width: 100%;
}

/* トップ */
.top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-image: url(../img/mv.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.top__text-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top__text-area__title {
    color: white;
    font-size: 40px;
}

/* 会社概要 */
.company {
    display: flex;
    justify-content: center;
    padding: 80px 0;
    text-align: center;
}
.company__list {
    width: 80%;
}
@media screen and (max-width: 768px) {
    .company__list {
        width: 95%;
    }
}
.company__item {
    display: flex;
    justify-content: center;
    border-top: solid 1px black;
    text-align: center;
}
.company__item:last-child {
    border-bottom: solid 1px black;
}
.company__hed {
    width: 30%;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
}
.company__data {
    width: 70%;
    padding: 20px;
    font-size: 20px;
    text-align: left;
}