.container {
    width: 100%;
}

.main {
    width: 100%;
}

/* トップ */
.top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-image: url(../img/mv.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.top__text-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top__text-area__title {
    color: white;
    font-size: 40px;
}

/* ブログ */
.blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 80px;
}
.blog__card {
    width: 30%;
    text-decoration: none;
}
@media screen and (max-width: 768px) {
    .blog {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
    }
    .blog__card {
        width: 100%;
        margin-bottom: 20px;
        text-decoration: none;
    }
}
.blog-image {
    width: 100%;
}
.blog-text-area {
    margin: 10px 0;
}
.blog-text-area__date {
    margin-bottom: 10px;
    color: black;
    font-weight: normal;
}
.blog-text-area__subject {
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.blog__button {
    margin-top: 20px;
    padding: 20px 50px;
    background-color: #cd0323;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}